doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    title Document
  body
    header 
      h1 Zoom
    main 
      #welcome
        form
          input(placeholder="your nickname", required, type="text")
          input(placeholder="room name", required, type="text")
          button Enter Room
        h3 open rooms
        h4
      #room
        ul
        form
          input(placeholder="type your message", required, type="text")
          button Send
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js") 